<h1>Route Coverage Dashboard</h1>

<p>
  Routes Not Covered by Tests (with method) - <%= @untested_routes_with_method[:percentage]%>
</p>

<div style="height:360px;width:720px;border:1px solid #ccc;font:12px/25px Georgia, Garamond, Serif;overflow:auto;white-space:nowrap;">
  <% @untested_routes_with_method[:routes].each do |route| %>
    <li><%= route %></li>
  <% end %>
</div>

<p>
  Active Routes Not Covered by Tests (with method) - <%= @untested_prod_routes_with_method[:percentage]%>
</p>

<div style="height:360px;width:720px;border:1px solid #ccc;font:12px/25px Georgia, Garamond, Serif;overflow:auto;white-space:nowrap;">
  <% @untested_prod_routes_with_method[:routes].each do |route| %>
    <li><%= route %></li>
  <% end %>
</div>

<p>
  Routes Not Used by Customers (with method) - <%= @unused_routes_with_method[:percentage]%>
</p>

<div style="height:360px;width:720px;border:1px solid #ccc;font:12px/25px Georgia, Garamond, Serif;overflow:auto;white-space:nowrap;">
  <% @unused_routes_with_method[:routes].each do |route| %>
    <li><%= route %></li>
  <% end %>
</div>
