<h1>Route Coverage Dashboard</h1>

<p>
  Routes Not Covered by Tests - <%= @untested_routes[:percentage]%>
</p>

<div style="height:360px;width:720px;border:1px solid #ccc;font:15px/25px Georgia, Garamond, Serif;overflow:scroll;">
  <%= @untested_routes[:routes].each do |route| puts route+'\n' end%>
</div>

<p>
  Active Routes Not Covered by Tests - <%= @untested_prod_routes[:percentage]%>
</p>

<div style="height:360px;width:720px;border:1px solid #ccc;font:15px/25px Georgia, Garamond, Serif;overflow:scroll;">
  <%= @untested_prod_routes[:routes].each do |route| puts route+'<br>' end%>
</div>

<p>
  Routes Not Used by Customers - <%= @unused_routes[:percentage]%>
</p>

<div style="height:360px;width:720px;border:1px solid #ccc;font:15px/25px Georgia, Garamond, Serif;overflow:scroll;">
  <%= @unused_routes[:routes].each do |route| puts route+'<br>' end%>
</div>
