  <%= form_tag("/", method: "get") do %>

	<table>
      <tr>
	    <td> Application </td>
	    <td> <%= select_tag :application, options_for_select(@applications, params[:application]),
	       prompt: '...' %> </td>
	  </tr>
	  <tr>
	    <td> Calculation </td>
	    <td> <%= select_tag :calculation, options_for_select(@calculations, params[:calculation]),
	       prompt: '...' %> </td>
	  </tr>
	</table>

    <p> <%= submit_tag("Generate fun") %> </p>
	<% unless params[:application].to_s.empty? || params[:calculation].to_s.empty? %>
      <% @dataset = percentage_data(params[:application], params[:calculation]) %>
      <% @title = "#{params[:application].titleize} - #{params[:calculation].titleize}" %>
      <%= render partial: 'main_graph', locals: {dataset: @dataset, title: @title}  %>
	  <%= render partial: 'tested_list', locals: { app: params[:application], calc: params[:calculation] } %>
	  <%= render partial: 'untested_list', locals: { app: params[:application], calc: params[:calculation] } %>
   <% end %>

  <%end%>
